@import "../../scss/_mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,700&family=Merriweather:ital,wght@1,300&display=swap');
@import "../../scss/_keyframes.scss";

#whole{
    height: 320vh;
    color:#f9f9f9;
    // background-color: blue;
    background-image: url('../../assets/backgroundF.jpg');
    position: relative;
    padding: 0;
    width: 100vw;
    .first{
        height: 100vh;
        width: 98.9vw;

        #firstLeft{
            height: 100vh;
            img{
                position: relative;
                top:10px;
                width: 110vw;
                height: 90vh;
                left:-25vw;
                animation: rotateAstro 8s infinite;
                animation-timing-function: linear;
                @media only screen and (max-width:500px){
                    width: 120vw;
                    height: 90vh;
                    left:-150px; 
                }
            }
        }
        #firstRight{
            height: 100vh;

            #buttonFirst{
                opacity: 0.9;
                margin-left: 3px;
                width: 150px;
            }
            h1{
                margin-bottom: 30px;
                //TUTAJ
                @media only screen and (min-width: 0px) {   
                    font-size: 10vh;   
                    line-height: 9vh;
                } 

            }

            p{
                font-size: 10vh;   
                line-height: 9vh;
                color:#e4f500;
                max-width: 60%;
                line-height: 45px;

                white-space: nowrap;
                //TUTAJ
                @media only screen and (min-width: 0px) {   
                    font-size: 1.1em;
                }
                @media only screen and (min-width: 500px) {   
                    font-size: 1.2em;
                }
                @media only screen and (min-width: 700px) {   
                    font-size: 1.7rem;
                }
            }
            // background-color: red;
        }
    }
    .second{
        height: 100vh;
        width: 99vw;
        #secondLeft{
            height: 100%;
            z-index: 1;
            
            #list > li {
                color: rgb(255, 255, 255);
                list-style-type: none;
                margin-top: 20px;

                fa-icon{
                    color: green;
                    font-size: 30px;
                }
                @media only screen and (min-width: 0px) {   
                    font-size:3vw; 
                    }
                    @media only screen and (min-width: 300px) {   
                        font-size:3.8vw; 
                    }
                    @media only screen and (min-width: 650px) {   
                        font-size:3.8vw; 
                    }
                    @media only screen and (min-width: 1024px) {   
                        font-size:3vw; 
                    }
            }
            h1{
               font-size:3.5vw; 
               white-space: nowrap;

               @media only screen and (min-width: 0px) {   
                font-size:3vw; 
                }
                @media only screen and (min-width: 300px) {   
                    font-size:4.5vw; 
                }
                @media only screen and (min-width: 650px) {   
                    font-size:4vw; 
                }
                @media only screen and (min-width: 1024px) {   
                    font-size:4vw; 
                    
                }
                
            }
            #gradWord{
                background: rgb(255,255,255);
                background: linear-gradient(333deg, rgba(255,255,255,1) 0%, rgba(244,0,0,1) 100%); 
                -webkit-background-clip: text;
                background-clip: text ;
                -webkit-text-fill-color: transparent;
            }
            #secondsubmit{
                margin-top: 20px;
                margin-left: 40px;
                width: 150px;
                opacity: 0.9;
            }

            #catalogValues{
                #catalogValuesRow{

                    .col-3{
                        width: 100px;
                        height: 200px;
                        background-color: rgba(245, 245, 220, 0.527);
                        border-radius: 5px;
                        min-width: 120px;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                        &:hover{
                            cursor:pointer;
                            position: relative;
                            bottom:2px;
                            background-color: rgba(245, 245, 220, 0.904);
                        }

                    }
                }
            }

        }
        #secondRight{
            height: 100vh;
            position: relative;
            #mars{
                width: 500px;
                height: 500px;
                position: absolute;
                right: 0;
                top:10%;
                min-width: 300px;
                animation: rotate 80s infinite;
                border-radius: 100px;

                @media only screen and (min-width: 0px) {   
                    width: 400px;
                    height:400px;
                    right: -95%;
                }
                @media only screen and (min-width: 500px) {
                    width: 500px;
                    height:500px;

                }
                @media only screen and (min-width: 700px) {
                    width: 500px;
                    height: 500px;
                    right: -20%;

                }
            }
        }
    }
}



.reccomendationPage{

    #reccomendation{
        background-color: rgba(34, 28, 28, 0.507);
        height: 20vh;
        width: 96vw;
        .row{
            font-size:2vw;
            height: 20vh;
            width: 100%;
            .avatar{                        
                height: 20vh;
                img{
                    width: 100%;
                    height: 20vh;
                    border-radius: 10px;
                    opacity: 0.9;
                    border:2px solid black;
                }
                
            }
            .text{
                height: 100%;

                fa-icon{
                    color:#ffd000ea;
                    
                }
                .desc{
                    height:13vh;
                    font-size: 0.9em;
                }
                .rate{
                    height: 5vh;

                }
            }
        }
    }
}



nav{
    width: 98vw;
    height: 60px;
    color:#f9f9f9f9;
    position: fixed;
    top:0;
    z-index: 2;
    min-width: 350px;
    #brand{
        color:white;//Dodane aby nie było warninga
    }
    #naviButtons{
        ul{
            width: 20%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        ul > li{
            float: left;
            margin-left:40px;
            border-radius: 50px;
            list-style-type: none;
            padding:3px;
            width: 27%;
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 1vw;
            flex-wrap: nowrap;
            &:first-child{
                background-color: rgba(105, 97, 97, 0.8);
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}

h3{
    margin-left: 2vw;
}

#hrlike{
    width: 100%;
    height: 0.5px;
    background-color: #7a7200;
    padding: 0;
}

#footer{
    color:#f9f9f9;
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding:0;

}

.naviCircle{
    color:red;
    background-color: rgba(105, 97, 97, 0.575);
}