<nav>
    <div class="row p-3">
        <div class='col-3' id="brand">LOGO</div>
        <div class='col-9 d-flex justify-content-end' id="naviButtons">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li class="mr-3">Contact</li>
            </ul>
        </div>
    </div>

</nav>
<div class="container-fluid" id="whole">
    <div class="row first">
        <div class="col-5" id="firstLeft">
            <img src="../../assets/cosmonaut.png" alt="cosmonaut" id="cosmonaut"/>
        </div>
        <div class="col-7 d-flex flex-column justify-content-center align-center" id="firstRight">
            <b><h1>Reach more than just a sky</h1></b>
            <p>Get everything what you want with us</p>
            <button class="btn btn-primary mt-4" id="buttonFirst" >Get started</button>
        </div>
    </div>

    <div class="row second">
        <div class="col-8 px-0" id="secondLeft">
            <h1>We are the best company whose doing <span id="gradWord">wonderful space suits</span></h1>
                <ul id="list">
                    <li><fa-icon [icon]= "check" id="check"></fa-icon> Wonderful Quality</li>
                    <li><fa-icon [icon]= "check" id="check"></fa-icon> Wonderful Suit Design</li>
                    <li><fa-icon [icon]= "check" id="check"></fa-icon> Wonderful Price</li>
                </ul>
                <button class="btn btn-success ml-4">Catalog</button>
        </div>
        <div class="col-4 d-flex justify-content-center align-center px-0" id="secondRight">
            <img src="../../assets/mars.png" alt='mars' id="mars"/>
        </div>
    </div>
</div>

<div class="container-fluid" >
    <div class="row">
        <div class="col-12">

        </div>
        <div class="col-12">2</div>
        <div class="col-12">2</div>
    </div>
</div>
