<nav>
    <div class="row p-4" #navi>
        <div class='col-3' id="brand">LOGO</div>
        <div class='col-9 d-flex justify-content-center' id="naviButtons">
            <ul>
                <li (click)="scroll(home)" #homeNav>Home</li>
                <li (click)="scroll(start)" #about>About</li>
                <li class="mr-3" (click)="scroll(recommendations)" #recom>Recommendations</li>
            </ul>
        </div>
    </div>

</nav>
<div class="container-fluid" id="whole" #whole>
    <div class="row first" #home>
        <div class="col-5" id="firstLeft">
            <img src="../../assets/cosmonaut.png" alt="cosmonaut" id="cosmonaut"/>
        </div>
        <div class="col-7 d-flex flex-column justify-content-center align-center" id="firstRight">
            <b><h1>Reach more than just a sky</h1></b>
            <p>Get everything what you want with us</p>
            <button class="btn btn-primary mt-4" id="buttonFirst" (click)="scroll(start)">Get started</button>
        </div>
    </div>

    <div class="row second" #start>
        <div class="col-9 pt-5" id="secondLeft">
            <h1 class="ml-4 mt-5">We are the best company whose doing <span id="gradWord">wonderful space suits</span></h1>
                <ul id="list" class="mt-5 pl-4">
                    <li><fa-icon [icon]= "check" id="check"></fa-icon> Wonderful Quality</li>
                    <li><fa-icon [icon]= "check" id="check"></fa-icon> Wonderful Suit Design</li>
                    <li><fa-icon [icon]= "check" id="check"></fa-icon> Wonderful Price</li>
                </ul>
              
                <button class="btn btn-primary mx-4"  id="secondsubmit" routerLink="catalog" >Catalog</button>



        </div>
        
        <div class="col-3 d-flex justify-content-center align-center px-0" id="secondRight">
            <img src="../../assets/mars.png" alt='mars' id="mars"/>
        </div>
    </div>

<div class="container-fluid reccomendationPage px-0"  #recommendations>
        <h3><p>Last reccomendation</p></h3>
<!-- PIERWSZY DINO -->
        <div class="col-12 ml-4 mt-3" id="reccomendation">
            <div class="row">

                <div class="col-2 avatar px-0">
                    <img src="../../assets/astro.jpg" alt='reccomendationIMG'/>
                </div>

                <div class="col-9 text p-2">
                    <div class="col-12 desc">
                        <p>The best suit i've ever had, wonderful design and most importantly feels comfortable.</p>
                    </div>
                    
                    <div class="col-12 mx-2 rate">
                        <div class="row">
                            <div class="col-8">Astronaut</div>
                            <div class="rate col-4">
                                <b>5/5</b>
                                <b *ngFor="let x of [1,2,3,4,5]"><fa-icon [icon]="star"></fa-icon></b>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<!-- DRUGI DINO -->
        <div class="col-12 mt-3" id="reccomendation">
            <div class="row">
                <div class="col-10 text px-0">
                    <div class="col-12 desc">
                        <p>Finally found suit in my size. Suit is comfy and elegant, so i would reccomend that company everyone.</p>
                    </div>
                    
                    <div class="col-12 mx-2 rate">
                        <div class="row">
                            <div class="col-8">T-rex</div>
                            <div class="rate col-4">
                                <b>5/5</b>
                                <b *ngFor="let x of [1,2,3,4,5]"><fa-icon [icon]="star"></fa-icon></b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2 avatar">
                    <img src="../../assets/suit.jpg" alt='reccomendationIMG'/>

                </div>

            </div>
        </div>
<!-- TRZECI DINO -->
        <div class="col-12 ml-4 mt-3" id="reccomendation">
            <div class="row">
                <div class="col-2 avatar px-0">
                    <img src="../../assets/alien.jpg" alt='reccomendationIMG'/>
                </div>

                <div class="col-9 text p-2">
                    <div class="col-12 desc">
                        <p>Found it on my planet, now i look wonderful and feel comfortable like astronauts</p>
                    </div>
                    
                    <div class="col-12 mx-2 rate">
                        <div class="row">
                            <div class="col-8">Unknown</div>
                            <div class="rate col-4">
                                <b>5/5</b>
                                <b *ngFor="let x of [1,2,3,4,5]"><fa-icon [icon]="star"></fa-icon></b>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

<div class="container-fluid mx-0" id="footer">
    <div id="hrlike" class="p-0"></div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-center">
            @portfolio page - Dawid Wilk
        </div>

        <div class="col-12 contact pl-4">
            <p>Contact me:</p>
            <fa-icon [icon]="mail"></fa-icon><b>Email: dawid.wilk81@gmail.com</b>
        </div>
    </div>
</div>
</div>

