@keyframes rotate{
    from{
        transform:rotate(0);
    }
    to{
        transform:rotate(360deg);
    }
}

@keyframes rotateAstro{
    0%{   
        transform:rotate(0);
    }
    25%{
        transform:rotate(5deg);
    }
    50%{
        transform:rotate(0);
    }
    75%{
        transform:rotate(-5deg);
    }
    100%{
        transform:rotate(0);
        }
    

}